<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Odeum.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Odeum.My.MySettings>
            <setting name="FavouriteItems" serializeAs="String">
                <value />
            </setting>
            <setting name="ToggleZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsImageError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatchListItems" serializeAs="String">
                <value />
            </setting>
            <setting name="WatchedItems" serializeAs="String">
                <value />
            </setting>
            <setting name="TempMovieTitleYear" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifNumbers" serializeAs="String">
                <value />
            </setting>
        </Odeum.My.MySettings>
    </userSettings>
</configuration>
